<ng2-toasty [position]="'top-right'"></ng2-toasty>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <img src="/assets/img/logo.png" style="margin-right:10px; width: 25px;">
      <a class="navbar-brand" href="/">Smart Law Contract</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/legal-entities" >Legal Entities</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/" >Smart Trusts</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Balance: {{funds}} ETH</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" (click)="withdraw()">Withdraw</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main">

      <div class="container">

        <router-outlet></router-outlet>

      </div>

    </main>
